{
    "presets": [
        [
            "@babel/preset-env" ,
            {
                "targets": {
                    "node" : "13.7.0" ,
                    "esmodules" : false // para que no tranpiles el codigo de cada libreria
                }
            }
        ]
    ]
}